<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>로그인</title>
    <link rel="stylesheet" href="css/index.css">
</head>
<body>
<button onclick="location.href='/mainc'">coffee</button>
<button onclick="location.href='/maind'">drink</button>
<button onclick="location.href='/myorder'">MyOrder</button>
<button onclick="location.href='/order'">Order</button>
<button onclick="location.href='/myinfo'">MyInfo</button>
<button onclick="location.href='/star'">Star</button>
<button onclick="location.href='/orderdetail'">Star</button>
<div class="container">
    <div class="row">
        <div class="col">
           <h2 id="title">로그인투!!!</h2>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <img src="images/pro.png" class="img-thumbnail my_img" id="img1">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h3 id="txt_id">ID</h3>
        </div>
        <div class="col">
            <input type="text" id="u_id">

        </div>
    </div>

    <div class="row">
        <div class="col">
            <button id="login">로그인</button>
        </div>
        <button id="join" onclick="location.href='/join'">회원가입</button>
    </div>

</div>
</body>
</html>